{% extends 'comics/comic_detail.html' %}

{% block links %}
    <div id="links">
      <h2>Awesomelinks</h2>
      <div class="link"><a href="http://www.achewood.com/" target="_blank" >Achewood</a></div>
      <div class="link"><a href="http://anderslovesmaria.reneengstrom.com/" target="_blank" >Anders Loves Maria</a></div>
      <div class="link"><a href="http://www.qwantz.com/" target="_blank" >Dinosaur Comics</a></div>
      <div class="link"><a href="http://www.drmcninja.com/" target="_blank" >Dr. McNinja</a></div>
      <div class="link"><a href="http://www.eegra.com/" target="_blank" >Eegra</a></div>
      <div class="link"><a href="http://www.fanboys-online.com/" target="_blank" >F@NB0Y$</a></div>
      <div class="link"><a href="http://www.gastrophobia.com/" target="_blank" >GastroPhobia</a></div>
      <div class="link"><a href="http://www.girlyyy.com/" target="_blank" >Girly</a></div>
      <div class="link"><a href="http://www.gunnerkrigg.com/" target="_blank" >Gunnerkrigg Court</a></div>
      <div class="link"><a href="http://www.chickensnack.com/comics/lr/" target="_blank" >Left &amp; Right</a></div>
      <div class="link"><a href="http://nobodyscores.loosenutstudio.com/" target="_blank" >Nobody Scores!</a></div>
      <div class="link"><a href="http://www.nockforce.com/" target="_blank" >nockFORCE</a></div>
      <div class="link"><a href="http://www.octopuspie.com/" target="_blank" >Octopus Pie</a></div>
      <div class="link"><a href="http://www.ourhomeplanet.net/" target="_blank" >Our Home Planet</a></div>
      <div class="link"><a href="http://www.overcompensating.com/" target="_blank" >Overcompensating</a></div>
      <div class="link"><a href="http://www.picturesforsadchildren.com/" target="_blank" >Pictures for Sad Children</a></div>
      <div class="link"><a href="http://capn-special.livejournal.com/" target="_blank" >Rumblo</a></div>
      <div class="link"><a href="http://www.samandfuzzy.com/" target="_blank" >Sam and Fuzzy</a></div>
      <div class="link"><a href="http://www.scarygoround.com/" target="_blank" >Scary Go Round</a></div>
      <div class="link"><a href="http://www.shortpacked.com/" target="_blank" >Shortpacked</a></div>
      <div class="link"><a href="http://www.slowwave.com/" target="_blank" >Slow Wave</a></div>
      <div class="link"><a href="http://www.wigu.com/" target="_blank" >Wigu</a></div>
    </div>
{% endblock %}