<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Description" content="Jeffrey Carl Faden's personal website." />
<meta name="author" content="Jeffrey Carl Faden" />
<meta name="Keywords" content="JeffreyATW, LiveJournal, comics, music, midi, blog" />
<title>JeffreyATW.com</title>
<link href="/v12/style.css" rel="stylesheet" type="text/css" />
<link rel="openid.server" href="http://www.livejournal.com/openid/server.bml" />
<link rel="openid.delegate" href="http://www.livejournal.com/users/jeffreyatw/" />
<link rel="meta" type="application/rdf+xml" title="FOAF" href="http://www.livejournal.com/users/jeffreyatw/data/foaf" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://jeffreyatw.livejournal.com/data/rss" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="http://jeffreyatw.livejournal.com/data/atom" />
<link rel="service.feed" type="application/atom+xml" title="AtomAPI-enabled feed" href="http://www.livejournal.com/interface/atom/feed" />
<link rel="service.post" type="application/atom+xml" title="Create a new post" href="http://www.livejournal.com/interface/atom/post" />
<script type="text/javascript" src="/js/jquery.js" charset="utf-8"></script>
<script defer="defer" type="text/javascript" src="/v12/pngfix.js"></script>
</head>
<body>
<div id="container">
  <h1><span>JeffreyATW</span></h1>
  <div id="photo">
      <ul id="buttons">
        <li class="car"><a href="/car/"><span>CAR</span></a></li>
        <li class="journal"><a href="http://jeffreyatw.livejournal.com"><span>Journal</span></a></li>
        <li class="portfolio"><a href="http://jeffreycarlfaden.com"><span>Portfolio</span></a></li>
        <li class="facebook"><a href="http://www.facebook.com/jeffreyatw"><span>Facebook</span></a></li>
        <li class="twitter"><a href="http://www.twitter.com/jeffreyatw"><span>Twitter</span></a></li>
        <li class="archive"><a href="#" onclick="$('#wrapper').toggle();"><span>Archive</span></a></li>
        <li class="about lastbutton"><a href="http://www.google.com/profiles/jeffreyatw"><span>About</span></a></li>
      </ul>
      <div id="wrapper">
        <div id="archive">
          <h2>Archive</h2>
          <ul>
            <li><a href="comics.shtml">Comics</a> - some old comics I've done</li>
            <li><a href="ddr_sims.shtml">Simfiles</a> - beatmania and DDR simfiles</li>
            <li><a href="http://jeffreyatw.deviantart.com">Art</a> - an old art gallery</li>
            <li><a href="midi.shtml">Midi</a> - my midi transcriptions and compositions</li>
          </ul>
          <h3>Previous Site Versions</h3>
          <ul id="versionlist">
            <li><a href="http://sentra.tripod.com">v1</a></li>
            <li><a href="/index_v2.shtml">v2</a></li>
            <li><a href="/index_v3.shtml">v3</a></li>
            <li><a href="/index_v4.shtml">v4</a></li>
            <li><a href="/index_v5.shtml">v5</a></li>
            <li><a href="/index_v6.shtml">v6</a></li>
            <li><a href="http://www.livejournal.com/customview.cgi?styleid=419413&amp;user=jeffreyatw">v7</a></li>
            <li><a href="http://www.livejournal.com/customview.cgi?styleid=481429&amp;user=jeffreyatw">v8</a></li>
            <li><a href="http://www.livejournal.com/customview.cgi?styleid=497465&amp;user=jeffreyatw">v9</a></li>
            <li><a href="http://www.livejournal.com/customview.cgi?styleid=565270&amp;user=jeffreyatw">v10</a></li>
            <li><a href="/v11/">v11</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try{ 
var pageTracker = _gat._getTracker("UA-134118-2");
pageTracker._trackPageview();
} catch(err) {} 
</script>
</body>
</html>
